@model Web.Models.BlogViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>BlogViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BlogId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BlogId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contenu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contenu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Photo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Photo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DatePost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DatePost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NbrLike)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NbrLike)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NbrComment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NbrComment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Titre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Titre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
    @Html.ActionLink("add comment", "../Comment/Create", new { id = Model.BlogId })
    <br />
    <br />
    @foreach (var item in Model.Comments)
    {
        <div class="media">
           
            <div class="media-body">
                <h5> @Html.DisplayFor(modelItem => item.Contenu)</h5>
    </div>
    </div>
}
    <br />
    @Html.ActionLink("allcom comment", "../Comment/ComBlog", new { id = Model.BlogId })
    </p>
