@model Web.Models.BlogViewModel

@{
	ViewBag.Title = "Details";
}

<!--================Welcome Home Banner Area =================-->
<section class="banner_area">
	<div class="banner_inner d-flex align-items-center" style="background-image:url(../../img/banner/home-banner.jpg)">
		<div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background=""></div>
		<div class="container">
			<div class="banner_content text-center">
				<div class="page_link">
					<a href="index.html">Home</a>
					<a href="about-us.html">Blog</a>
				</div>
				<br />
				<h2>Welcome to the Blogs</h2>
			</div>
		</div>
	</div>
</section>
<!--================End Home Banner Area =================-->
<header class="header_area">
	<div class="main_menu">
		<nav class="navbar navbar-expand-lg navbar-light">
			<div class="container box_1620">
				<!-- Brand and toggle get grouped for better mobile display -->

				<a class="navbar-brand logo_h" href="index.html"><img src="~/img/logo2.png" sizes="100px" alt=""></a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse offset" id="navbarSupportedContent">
					<ul class="nav navbar-nav menu_nav ml-auto">
						<li class="nav-item active"><a class="nav-link" href="@Url.Action("Index","Home")">Home</a></li>

						<li class="nav-item submenu dropdown">
							<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Events</a>
							<ul class="dropdown-menu">
								<li class="nav-item"><a class="nav-link" href="schedule.html">Conference</a>
								<li class="nav-item"><a class="nav-link" href="venue.html">Party</a>
								<li class="nav-item"><a class="nav-link" href="price.html">Exposure</a>
								<li class="nav-item"><a class="nav-link" href="elements.html">Training</a></li>
							</ul>
						</li>

						<li class="nav-item submenu dropdown">
							<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Blog</a>
							<ul class="dropdown-menu">
								<li class="nav-item"><a class="nav-link" href="@Url.Action("Blog","Home")">Blog</a></li>

							</ul>
						</li>

						<li class="nav-item"><a class="nav-link" href="@Url.Action("Contact","Home")">Contact</a></li>
						<li class="nav-item"><a class="nav-link" href="@Url.Action("About","Home")">About</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li class="nav-item"><a href="@Url.Action("Login","Account")" class="tickets_btn">Log In</a></li>
						<li class="nav-item"><a href="#" class="search"><i class="lnr lnr-magnifier"></i></a></li>
					</ul>
				</div>
			</div>
		</nav>
	</div>
</header>
<header class="header_area">
	<div class="main_menu">
		<nav class="navbar navbar-expand-lg navbar-light">
			<div class="container box_1620">
				<!-- Brand and toggle get grouped for better mobile display -->

				<a class="navbar-brand logo_h" href="index.html"><img src="~/img/logo2.png" sizes="100px" alt=""></a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse offset" id="navbarSupportedContent">
					<ul class="nav navbar-nav menu_nav ml-auto">
						<li class="nav-item active"><a class="nav-link" href="@Url.Action("Index","Home")">Home</a></li>

						<li class="nav-item submenu dropdown">
							<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Events</a>
							<ul class="dropdown-menu">
								<li class="nav-item"><a class="nav-link" href="schedule.html">Conference</a>
								<li class="nav-item"><a class="nav-link" href="venue.html">Party</a>
								<li class="nav-item"><a class="nav-link" href="price.html">Exposure</a>
								<li class="nav-item"><a class="nav-link" href="elements.html">Training</a></li>
							</ul>
						</li>

						<li class="nav-item submenu dropdown">
							<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Blog</a>
							<ul class="dropdown-menu">
								<li class="nav-item"><a class="nav-link" href="@Url.Action("Blog","Home")">Blog</a></li>

							</ul>
						</li>

						<li class="nav-item"><a class="nav-link" href="@Url.Action("Contact","Home")">Contact</a></li>
						<li class="nav-item"><a class="nav-link" href="@Url.Action("About","Home")">About</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li class="nav-item"><a href="@Url.Action("Login","Account")" class="tickets_btn">Log In</a></li>
						<li class="nav-item"><a href="#" class="search"><i class="lnr lnr-magnifier"></i></a></li>
					</ul>
				</div>
			</div>
		</nav>
	</div>
</header>



<section class="blog_area single-post-area p_120">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 posts-list">
				<div class="single-post row">
					<div class="col-lg-12">
						<div class="feature-img">
							<img class="img-fluid" src="~/img/blog/feature-img1.jpg" alt="">
						</div>
					</div>
					<div class="col-lg-3  col-md-3">
						<div class="blog_info text-right">
							<ul class="blog_meta list">
								<li><a href="#">@Html.DisplayFor(modelItem => Model.ne)<i class="lnr lnr-user"></i></a></li>
								<li><a href="#">@Html.DisplayFor(modelItem => Model.DatePost)<i class="lnr lnr-calendar-full"></i></a></li>
								<li><a href="#">NBR COMMENT<i class="lnr lnr-bubble"></i></a></li>
								<li>@Html.DisplayFor(modelItem => Model.NbrLike)   <i class="lnr lnr-heart"></i></li>
							</ul>
						</div>
					</div>
					<div class="col-lg-9 col-md-9 blog_details">
						<h2>Astronomy Binoculars A Great Alternative</h2>
						<p class="excert">
							MCSE boot camps have its supporters and its detractors. Some people do not understand why you should have to spend money on boot camp when you can get the MCSE study materials yourself at a fraction.
						</p>
						<p>
							Boot camps have its supporters and its detractors. Some people do not understand why you should have to spend money on boot camp when you can get the MCSE study materials yourself at a fraction of the camp price. However, who has the willpower to actually sit through a self-imposed MCSE training. who has the willpower to actually sit through a self-imposed
						</p>
						<p>
							Boot camps have its supporters and its detractors. Some people do not understand why you should have to spend money on boot camp when you can get the MCSE study materials yourself at a fraction of the camp price. However, who has the willpower to actually sit through a self-imposed MCSE training. who has the willpower to actually sit through a self-imposed
						</p>
					</div>
					<div class="col-lg-12">
						<div class="quotes">
							MCSE boot camps have its supporters and its detractors. Some people do not understand why you should have to spend money on boot camp when you can get the MCSE study materials yourself at a fraction of the camp price. However, who has the willpower to actually sit through a self-imposed MCSE training.
						</div>
						<div class="row">
							<div class="col-6">
								<img class="img-fluid" src="~/img/blog/post-img1.jpg" alt="">
							</div>
							<div class="col-6">
								<img class="img-fluid" src="~/img/blog/post-img2.jpg" alt="">
							</div>
							<div class="col-lg-12 mt-25">
								<p>
									MCSE boot camps have its supporters and its detractors. Some people do not understand why you should have to spend money on boot camp when you can get the MCSE study materials yourself at a fraction of the camp price. However, who has the willpower.
								</p>
								<p>
									MCSE boot camps have its supporters and its detractors. Some people do not understand why you should have to spend money on boot camp when you can get the MCSE study materials yourself at a fraction of the camp price. However, who has the willpower.
								</p>
							</div>
						</div>
					</div>
				</div>
				
			</div>
			<div class="col-lg-4">
				<div class="blog_right_sidebar">
					<aside class="single_sidebar_widget search_widget">
						<div class="input-group">
							<input type="text" class="form-control" placeholder="Search Posts">
							<span class="input-group-btn">
								<button class="btn btn-default" type="button"><i class="lnr lnr-magnifier"></i></button>
							</span>
						</div><!-- /input-group -->
						<div class="br"></div>
					</aside>
					<aside class="single_sidebar_widget author_widget">
						<img class="author_img rounded-circle" src="~/img/blog/author.png" alt="">
						<h4>Charlie Barber</h4>
						<p>Senior blog writer</p>
						<div class="social_icon">
							<a href="#"><i class="fa fa-facebook"></i></a>
							<a href="#"><i class="fa fa-twitter"></i></a>
							<a href="#"><i class="fa fa-github"></i></a>
							<a href="#"><i class="fa fa-behance"></i></a>
						</div>
						<p>Boot camps have its supporters andit sdetractors. Some people do not understand why you should have to spend money on boot camp when you can get. Boot camps have itssuppor ters andits detractors.</p>
						<div class="br"></div>
					</aside>
					<aside class="single_sidebar_widget popular_post_widget">
						<h3 class="widget_title">Popular Posts</h3>
						<div class="media post_item">
							<img src="~/img/blog/popular-post/post1.jpg" alt="post">
							<div class="media-body">
								<a href="blog-details.html"><h3>Space The Final Frontier</h3></a>
								<p>02 Hours ago</p>
							</div>
						</div>
						>
						<div class="br"></div>
					</aside>
					<aside class="single_sidebar_widget ads_widget">
						<a href="#"><img class="img-fluid" src="~/img/blog/add.jpg" alt=""></a>
						<div class="br"></div>
					</aside>
				</div>
			</div>
		</div>
	</div>
</section>


<div class="comments-area">
	<a class="main_btn" href="@Url.Action("Create", "Comment", new {  id=Model.BlogId })">Add a comment</a>
	<h4>NBR COMMENT</h4>
	@foreach (var item in Model.Comments)
	{
		<div class="comment-list">

			<div class="single-comment justify-content-between d-flex">

				<div class="user justify-content-between d-flex">
					<div class="thumb">
						<img src="~/img/blog/c1.jpg" alt="">
					</div>
					<div class="desc">
						<h5><a href="#">@Html.DisplayFor(modelItem => item.nom)</a></h5>
						<p class="date">@Html.DisplayFor(modelItem => item.DateCom) </p>
						<p class="comment">
							@Html.DisplayFor(modelItem => item.Contenu)
						</p>
					</div>
				</div>
				<div class="reply-btn">
					<a href="" class="btn-reply text-uppercase">reply</a>
				</div>

			</div>
		</div>}

</div>
