@model IEnumerable<Web.Models.BlogViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BlogId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contenu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Photo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DatePost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NbrLike)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NbrComment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Titre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BlogId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Contenu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Photo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DatePost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NbrLike)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NbrComment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Titre)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.BlogId }) |
            <a class="main_btn" href="@Url.Action("Details", "Blog", new {  id=item.BlogId })">View More Details</a>|

            @Html.ActionLink("Delete", "Delete", new { id = item.BlogId })
        </td>
    </tr>
}

</table>
