@using Web.Models
@model LoginViewModel
@{
        ViewBag.Title = "Connexion";
    }

@*<h2>@ViewBag.Title.</h2>*@
<!--================Home Banner Area =================-->
<section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
        <div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background=""></div>
        <div class="container">
            <div class="banner_content text-center">
                <div class="page_link">
                    <a href="index.html">Home</a>
                    <a href="about-us.html">LogIn</a>
                </div>
                <h2>Log In</h2>
            </div>
        </div>
    </div>
</section>
<!--================End Home Banner Area =================-->

    <div class="row">
        <div class="col-md-12">
            <div class="card" style="max-width:500px;margin:auto; align-content:center;align-self:center;">
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <h5 class="card-header info-color white-text text-center py-4" style="background-color:	indigo">
                        <strong>Sign in</strong>
                    </h5>
                    <br /><br />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <!--Card content-->
                    <div class="card-body px-lg-5 pt-0">
                        <!-- Form -->
                        <form class="text-center">
                            <!-- Email -->
                            <div class="md-form">
                                @*<input type="email" id="materialLoginFormEmail" class="form-control">*@
                                <label for="materialLoginFormEmail">E-mail</label>
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })

                            </div>
                            <!-- Password -->
                            <div class="md-form">
                                @*<input type="password" id="materialLoginFormPassword" class="form-control">*@
                                <label for="materialLoginFormPassword">Password</label>
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })

                            </div>

                            <div class="d-flex justify-content-around">
                                <div>
                                    <!-- Remember me -->
                                    <div class="form-check">
                                        @*<input type="checkbox" class="form-check-input" id="materialLoginFormRemember">*@
                                        @Html.CheckBoxFor(m => m.RememberMe)
                                        @Html.LabelFor(m => m.RememberMe)
                                        @*  <label class="form-check-label" for="materialLoginFormRemember">Remember me</label>*@
                                    </div>
                                </div>
                                <div>
                                    <!-- Forgot password -->
                                    <a href="#"></a>
                                    @Html.ActionLink("Forget your password ?", "ForgotPassword")
                                </div>
                            </div>

                            <!-- Sign in button -->
                            <button class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0" type="submit style="background-color:indigo">Sign in</button>

                            <!-- Register -->
                            <p>
                                Not a member?
                                <a href="#"></a>
                                @Html.ActionLink("Register as a new user", "Register")

                            </p>

                            @*Social login
                    <p>or sign in with:</p>
                    <a type="button" class="btn-floating btn-fb btn-sm">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a type="button" class="btn-floating btn-tw btn-sm">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a type="button" class="btn-floating btn-li btn-sm">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                    <a type="button" class="btn-floating btn-git btn-sm">
                        <i class="fab fa-github"></i>
                    </a>*@

                        </form>

                        <!-- Form -->

                    </div>
                }
            </div>
            <!-- Material form login -->
        </div>
        <br /><br />
       @*<div class="col-md-4">
                <section id="socialLoginForm">
                    @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
                </section>
       </div>*@
    </div>
    
