@model Web.Models.RegisterViewModel
@using Domain.Entities
< <!--================Header Menu Area =================-->
<header class="header_area" style="background-color:transparent">
    <div class="main_menu" style="background-color:transparent">
        <nav class="navbar navbar-expand-lg navbar-light" style="background-image: -webkit-linear-gradient( 0deg, rgb(20,29,162) 0%, rgb(155,92,246) 100%);">
            <div class="container box_1620" style="background-color:transparent">
                <!-- Brand and toggle get grouped for better mobile display -->

                <a class="navbar-brand logo_h" href="index.html"><img src="~/img/logo2.png" sizes="100px" alt=""></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse offset" id="navbarSupportedContent" style="background-color:transparent">
                    <ul class="nav navbar-nav menu_nav ml-auto">
                        <li class="nav-item active"><a class="nav-link" href="@Url.Action("Index","Home")">Home</a></li>

                        <li class="nav-item submenu dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Events</a>
                            <ul class="dropdown-menu">
                                <li class="nav-item"><a class="nav-link" href="schedule.html">Conference</a>
                                <li class="nav-item"><a class="nav-link" href="venue.html">Party</a>
                                <li class="nav-item"><a class="nav-link" href="price.html">Exposure</a>
                                <li class="nav-item"><a class="nav-link" href="elements.html">Training</a></li>
                            </ul>
                        </li>

                        <li class="nav-item submenu dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Blog</a>
                            <ul class="dropdown-menu">
                                <li class="nav-item"><a class="nav-link" href="@Url.Action("Blog","Home")">Blog</a></li>
                                <li class="nav-item"><a class="nav-link" href="@Url.Action("BlogDetail","Home")">Blog Details</a></li>
                            </ul>
                        </li>

                        <li class="nav-item"><a class="nav-link" href="@Url.Action("Contact","Home")">Contact</a></li>
                        <li class="nav-item"><a class="nav-link" href="@Url.Action("About","Home")">About</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">

                        @if (User.Identity.IsAuthenticated)
                        {

                            <li class="nav-item submenu dropdown">
                                <a href="@Url.Action("Login", "Account")" class="tickets_btn">Log Out</a>
                                <ul>
                                    <li class="nav-item"><a class="nav-link" href="#">Edite Profile</a></li>

                                </ul>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item"> <a href="@Url.Action("Login", "Account")" class="tickets_btn">Log In</a></li>}

                        <li class="nav-item"><a href="#" class="search"><i class="lnr lnr-magnifier"></i></a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>
<!--================End Menu Area =================-->
<!--================Welcome Home Banner Area =================-->
<section class="banner_area">
    <div class="banner_inner d-flex align-items-center" style="background:url(../../img/banner/home-banner.jpg)">
        <div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background=""></div>
        <div class="container" style="background-color:transparent">
            <div class="banner_content text-center">
                <div class="page_link">
                    <a href="index.html">Home</a>
                    <a href="about-us.html">Registre</a>
                </div>
                <h2>REGISTRE</h2>
            </div>
        </div>
    </div>
</section>
<!--================End Home Banner Area =================-->
<!-- Font Icon -->
<link rel="stylesheet" href="~/Content/fonts1/fonts/material-icon/css/material-design-iconic-font.min.css">
<link rel="stylesheet" href="~/Content/vendor/nouislider/nouislider.min.css">

<!-- Main css -->
<link rel="stylesheet" href="~/Content/css1/css/style.css">
<br /><br />
<div class="main">

    <div class="container">
        <div class="signup-content">
            <div class="signup-img">
                <img src="~/img/form-img.jpg" alt="">
                <div class="signup-img-content">
                    <h2>Register now </h2>
                    <p>while seats are available !</p>
                </div>
            </div>
            <div class="signup-form">
                @*<form method="POST" class="register-form" id="register-form">*@
                @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-row">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <p style="color:blueviolet" ;>Please enter your infomation and proceed to next step so we can build your account</p>
                        <div class="form-group">
                            <div class="form-input">
                                <label for="first_name" class="required">First name</label>
                                @*@Html.TextBoxFor(m => m.FName, new { @class = "form-control" })*@
                                @Html.EditorFor(model => model.FName, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.FName, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-input">
                                <label for="last_name" class="required">Last name</label>
                                @*@Html.TextBoxFor(m => m.LName, new { @class = "form-control" })*@
                                @Html.EditorFor(model => model.LName, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.LName, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-input">
                                <label for="email" class="required">Email</label>
                                @*@Html.TextBoxFor(m => m.Email, new { @class = "form-control" })*@
                                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-input">
                                <label for="email" class="required">Password</label>
                                @*@Html.TextBoxFor(m => m.Password, new { @class = "form-control" })*@
                                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-input">
                                <label for="email" class="required">Confirm Password</label>
                                @*@Html.TextBoxFor(m => m.ConfirmPassword, new { @class = "form-control" })*@
                                @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-input">
                                <label for="phone_number" class="required">CIN</label>
                                @*@Html.TextBoxFor(m => m.CIN, new { @class = "form-control" })*@
                                @Html.EditorFor(model => model.CIN, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.CIN, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-input">
                                <label for="phone_number" class="required">Phone number</label>
                                @*@Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control" })*@
                                @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
                            </div>

                        </div>
                        <div class="form-group">

                            <div class="form-input">
                                <label for="phone_number" class="required">Street Name</label>
                                @*@Html.TextBoxFor(m => m.StreetName, new { @class = "form-control" })*@
                                @Html.EditorFor(model => model.StreetName, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.StreetName, "", new { @class = "text-danger" })
                            </div>
                            @*<div class="form-select">
                                <div class="label-flex">
                                      @*<label for="meal_preference">Cities</label>*@
                            @*<div class="select-list">
                                      <select name="Cities" id="Cities">
                                           @Html.DropDownList("City", new SelectList(Enum.GetValues(typeof(Cities))),
                                    new { @class = "mdb-select", @id = "City" })
                                          @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
                                      </select>
                                     </div>
                                  </div>
                                </div>*@

                            <div class="form-input">
                                <label for="phone_number" class="required">Birthday:</label>
                                @Html.EditorFor(m => m.BirthDate, new { @class = "datepicker", @type = "date" })
                                @Html.ValidationMessageFor(model => model.BirthDate, "", new { @class = "text-danger" })
                            </div>
                            <h3>Set Financial Goals</h3>
                            <div class="form-input">
                                <label for="first_name" class="required">Societe Name</label>
                                @Html.EditorFor(model => model.NomSociete, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.NomSociete, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-input">
                                <label for="first_name" class="required">Poste</label>
                                @Html.EditorFor(model => model.Poste, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Poste, "", new { @class = "text-danger" })
                            </div>

                            <h3>Connect Bank Account</h3>
                            <div class="fieldset-content">
                                @*<div class="editor-label">
                                        @Html.LabelFor(model => model.Photo)
                                    </div>*@
                                <div class="editor-field">
                                    Upload a file
                                    @Html.TextBox("file2", "", new { type = "file" })
                                    @Html.ValidationMessageFor(model => model.Photo)
                                </div>
                            </div>
                            <div class="fieldset-content">
                                @*<div class="editor-label">
                                        @Html.LabelFor(model => model.EntrepriseTranscripts)
                                    </div>*@
                                @*<div class="editor-field">
                                        Upload a file
                                        @Html.TextBox("file3", "", new { type = "file" })
                                        @Html.ValidationMessageFor(model => model.EntrepriseTranscripts)
                                    </div>*@
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Create" class="tickets_btn" />
                        </div>
                    </div>
                }

                @*</form>*@
            </div>
        </div>
    </div>

</div>
<br style="background-color:white" /><br style="background-color:white" />
<!--================ start footer Area  =================-->
<footer class="footer-area p_120">
    <div class="container">
        <div class="row">
            <div class="col-lg-3  col-md-6 col-sm-6">
                <div class="single-footer-widget tp_widgets">
                    <h6 class="footer_title">ABOUT US</h6>
                    <div>
                        <p>
                            ConsultTeck is a specialized event agency which built its image on the success of your event within its human dimension or completely unreasonable.

                            We guide you in thinking, planning, organization and design of your projects, which are based on learning and the integration of the culture of your company. Our work is the result of a clever mixture of listening and strong creative and professional skills.
                            Fin de la discussion
                            Écrivez un message...


                        </p>
                    </div>
                </div>
            </div>
            @*<div class="col-lg-1  col-md-6 col-sm-6">
                </div>*@
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="single-footer-widget news_widgets">
                    <h6 class="footer_title">CONTACT INFORMATION</h6>
                    <p>To join us, or for simple information do not hesitate to contact us </p>
                    <div class="col-lg-6">
                        <div class="contact_info">
                            <div class="info_item">
                                <i class="lnr lnr-home"></i>
                                <h6>The Berges Du Lac II, Tunise</h6>
                                <p>Near the craftsman's palace</p>
                            </div>
                            <div class="info_item">
                                <i class="lnr lnr-phone-handset"></i>
                                <h6><a href="#">00 (216) 52017580</a></h6>
                                <p>Mon to Fri 9am to 6 pm</p>
                            </div>
                            <div class="info_item">
                                <i class="lnr lnr-envelope"></i>
                                <h6><a href="#">Consultteck@colorlib.com</a></h6>
                                <p>Send us your query anytime!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 footer-social">
                <div class="single-footer-widget instafeed">
                    <h6 class="footer_title">FOLLOW US</h6>
                    <a href="#"><img src="~/img/fb.png" /></a>
                    <a href="#"><img src="~/img/twit.png" /></a>
                    <a href="#"><img src="~/img/insta.png" /></a>
                    <a href="#"><img src="~/img/link.png" /></a>
                </div>
            </div>
        </div>
        @*<div class="row footer-bottom d-flex justify-content-between align-items-center">
                <p class="col-lg-8 col-md-8 footer-text m-0">
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </p>
                <div class="col-lg-4 col-md-4 footer-social">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-dribbble"></i></a>
                    <a href="#"><i class="fa fa-behance"></i></a>
                </div>
            </div>*@
    </div>
</footer>
<!--================ End footer Area  =================-->
@if (TempData["Success"] != null)
{
    <p class="alert alert-success" id="successMessage">@TempData["Success"]</p>
}
    JS
<script src="~/Content/vendor/jquery/jquery.min.js"></script>
<script src="~/Content/vendor/nouislider/nouislider.min.js"></script>
<script src="~/Content/vendor/wnumb/wNumb.js"></script>
<script src="~/Content/vendor/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/Content/vendor/jquery-validation/dist/additional-methods.min.js"></script>
<script src="~/Content/js/main.js"></script>
