@model Web.Models.RewardViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>RewardViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdReward)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdReward)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.titre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.titre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
