@model IEnumerable<Web.Models.FormViewModel>

@{
    ViewBag.Title = "Index";
}




@using (Html.BeginForm())
{

    @*Un seul bouton pour les deux recherches*@
    <table>
        <tr>
            <td>
                <div>

                    Recherche par UserId: @Html.TextBox("searchString")
                    Recherche par EventId:  @Html.TextBox("id")






                </div>
            </td>
            <td> <input type="submit" value="Rechercher" id="recherche" /> </td>
        </tr>

    </table>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ParticipantId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EventId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EventView.Title)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Sex)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Age)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Profession)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Countrie)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>


        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ParticipantId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventView.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sex)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Profession)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Countrie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.FormId }) |
                @Html.ActionLink("Details", "Details", new { id = item.FormId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.FormId })
            </td>
        </tr>
    }

</table>


