@model Web.Models.EventSchedulerViewModel


@{
    /**/

    ViewBag.Title = "Create";
}
< <!--================Header Menu Area =================-->
<header class="header_area" style="background-color:transparent">
    <div class="main_menu" style="background-color:transparent">
        <nav class="navbar navbar-expand-lg navbar-light" style="background-image: -webkit-linear-gradient( 0deg, rgb(20,29,162) 0%, rgb(155,92,246) 100%)">
            <div class="container box_1620" style="background-color:transparent">
                <!-- Brand and toggle get grouped for better mobile display -->

                <a class="navbar-brand logo_h" href="index.html"><img src="~/img/logo2.png" sizes="100px" alt=""></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse offset" id="navbarSupportedContent" style="background-color:transparent">
                    <ul class="nav navbar-nav menu_nav ml-auto">
                        <li class="nav-item active"><a class="nav-link" href="@Url.Action("Index","Home")">Home</a></li>

                        <li class="nav-item submenu dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Events</a>
                            <ul class="dropdown-menu">
                                <li class="nav-item"><a class="nav-link" href="schedule.html">Conference</a>
                                <li class="nav-item"><a class="nav-link" href="venue.html">Party</a>
                                <li class="nav-item"><a class="nav-link" href="price.html">Exposure</a>
                                <li class="nav-item"><a class="nav-link" href="elements.html">Training</a></li>
                            </ul>
                        </li>

                        <li class="nav-item submenu dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Blog</a>
                            <ul class="dropdown-menu">
                                <li class="nav-item"><a class="nav-link" href="@Url.Action("Blog","Home")">Blog</a></li>
                                <li class="nav-item"><a class="nav-link" href="@Url.Action("BlogDetail","Home")">Blog Details</a></li>
                            </ul>
                        </li>

                        <li class="nav-item"><a class="nav-link" href="@Url.Action("Contact","Home")">Contact</a></li>
                        <li class="nav-item"><a class="nav-link" href="@Url.Action("About","Home")">About</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">

                        @if (User.Identity.IsAuthenticated)
                        {

                            <li class="nav-item submenu dropdown">
                                <a href="@Url.Action("Login", "Account")" class="tickets_btn">Log Out</a>
                                <ul>
                                    <li class="nav-item"><a class="nav-link" href="#">Edite Profile</a></li>

                                </ul>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item"> <a href="@Url.Action("Login", "Account")" class="tickets_btn">Log In</a></li>}

                        <li class="nav-item"><a href="#" class="search"><i class="lnr lnr-magnifier"></i></a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>
<!--================End Menu Area =================-->
<!--================Welcome Home Banner Area =================-->
<section class="banner_area">
    <div class="banner_inner d-flex align-items-center" style="background:url(../../img/banner/home-banner.jpg)">
        <div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background=""></div>
        <div class="container" style="background-color:transparent">
            <div class="banner_content text-center">
                <div class="page_link">
                    <a href="index.html">Home</a>
                    <a href="about-us.html">LogIn</a>
                </div>
                <h2>Log In</h2>
            </div>
        </div>
    </div>
</section>
<!--================End Home Banner Area =================-->
<!-- Font Icon -->

<link rel="stylesheet" href="@Url.Content("~/Content/mytemplate/")fonts/material-icon/css/material-design-iconic-font.min.css">
<link rel="stylesheet" href="@Url.Content("~/Content/mytemplate/")vendor/nouislider/nouislider.min.css">

<!-- Main css -->
<link rel="stylesheet" href="@Url.Content("~/Content/mytemplate/")css/ss.css">

<div class="main" style="background-color:white">

    @using (Html.BeginForm("Create", "Event", FormMethod.Post, new { @class = "signup-form", role = "form", @id = "signup-form", enctype = "multipart/form-data" }))
    {
        @* < form class="signup-form" role="form" id="signup-form" enctype="multipart/form-data">*@
        @Html.AntiForgeryToken()

        <div style="background-color:#6f42c1">
            <h3>Personal info</h3>
            <fieldset>
                <h2>Personal information</h2>
                <p class="desc">Please enter your infomation and proceed to next step so we can build your account</p>
                <div class="fieldset-content">
                    @Html.ValidationSummary("", new { @class = "text-danger" })


                    <div class="form-row">
                        Title of event
                        <div class="form-flex">
                            <div class="form-group">
                                @Html.EditorFor(model => model.EventModel.Title, new { htmlAttributes = new { @class = "form-control", @id = "titleId" } })
                                @Html.ValidationMessageFor(model => model.EventModel.Title, "", new { @class = "text-danger" })
                            </div>
                        </div>


                        <div class="form-group">
                            Event Address
                            @Html.EditorFor(model => model.EventModel.Address, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.EventModel.Address, "", new { @class = "text-danger" })
                            <!--<span class="text-input">Example  :<span>  Jeff@gmail.com</span></span>-->
                        </div>
                        <div class="form-group">
                            Number of places
                            @Html.EditorFor(model => model.EventModel.NumberPlaces, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.EventModel.NumberPlaces, "", new { @class = "text-danger" })

                        </div>

                        <div class="form-row">
                            <div class="form-flex">
                                <div class="form-group">
                                    Start
                                    @Html.EditorFor(model => model.EventModel.Start, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.EventModel.Start, "", new { @class = "text-danger" })

                                </div>
                                <div class="form-group">
                                    End
                                    @Html.EditorFor(model => model.EventModel.End, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.EventModel.End, "", new { @class = "text-danger" })

                                </div>
                            </div>
                        </div>


                        <div class="form-group">
                            Price
                            @Html.EditorFor(model => model.EventModel.Price, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.EventModel.Price, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            Description
                            @Html.EditorFor(model => model.EventModel.Description, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.EventModel.Description, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            Orgonized By
                            @Html.EditorFor(model => model.EventModel.OrganizedBy, new { htmlAttributes = new { @class = "form-control", @id = "orgonizedBy" } })
                            @Html.ValidationMessageFor(model => model.EventModel.OrganizedBy, "", new { @class = "text-danger" })
                        </div>

                    </div>
                </div>

            </fieldset>


            <h3>Add your scheduler</h3>

            <fieldset>
                <h2>Add your scheduler</h2>
                <p class="desc">Set up your money limit to reach the future plan</p>
                <div class="fieldset-content">
                    <div class="form-group">
                        Duration
                        @Html.EditorFor(model => model.SchedulerModel.Duration, new { htmlAttributes = new { @class = "form-control", @id = "duration", @name = "duration" } })
                        @Html.ValidationMessageFor(model => model.SchedulerModel.Duration, "", new { @class = "text-danger" })
                        <span class="text-input">Example  :<span>  SGCIB</span></span>
                    </div>

                    <div class="form-group">
                        Program name
                        @Html.EditorFor(model => model.SchedulerModel.ProgramName, new { htmlAttributes = new { @class = "form-control", @id = "progName", @name = "progName" } })
                        @Html.ValidationMessageFor(model => model.SchedulerModel.ProgramName, "", new { @class = "text-danger" })
                        <span class="text-input">Example :<span>  Directeur</span></span>
                    </div>

                    <a class="main_btn" OnClick="addition()">Add</a>
                    <script>
                        function addition() {
                            var duration = document.getElementById("duration").value;
                            var progName = document.getElementById("progName").value;
                            $('#tab tr:last').after("<tr><td>" + duration + "</td><td>" + progName + "</td>");
                            $.ajax({
                                url: "/Event/getAllScheduler",
                                type: "POST",
                                data: {
                                    'duration': duration, 'proName': progName
                                }
                            });


                        }
                    </script>




                    <table id="tab">
                        <thead>
                            <tr>
                                <th scope="col">Duration</th>
                                <th scope="col">Program name</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr></tr>
                        </tbody>
                    </table>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Create" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            </fieldset>




            <h3>Connect Bank Account</h3>
            <fieldset>
                <h2>Connect Bank Account</h2>
                <p class="desc">Please enter your infomation and proceed to next step so we can build your account</p>
                <div class="fieldset-content">
                    <div class="editor-label">
                        @Html.LabelFor(model => model.EventModel.Title)
                    </div>
                    <div class="editor-field">
                        Upload a file
                        @Html.TextBox("file2", "", new { type = "file" })


                        @Html.ValidationMessageFor(model => model.EventModel.Title)
                    </div>

                </div>
                <div class="fieldset-content">
                    <div class="editor-label">
                        @Html.LabelFor(model => model.EventModel.Title)
                    </div>
                    <div class="editor-field">
                        Upload a file
                        @Html.TextBox("file3", "", new { type = "file" })


                        @Html.ValidationMessageFor(model => model.EventModel.Title)
                    </div>

                </div>
                <div class="fieldset-content">
                    <div class="editor-label">
                        @Html.LabelFor(model => model.EventModel.Title)
                    </div>
                    <div class="editor-field">
                        Upload a file
                        @Html.TextBox("file4", "", new { type = "file" })


                        @Html.ValidationMessageFor(model => model.EventModel.Title)
                    </div>

                </div>
                <div class="fieldset-content">
                    <div class="editor-label">
                        @Html.LabelFor(model => model.EventModel.Title)
                    </div>
                    <div class="editor-field">
                        Upload a file
                        @Html.TextBox("file5", "", new { type = "file" })


                        @Html.ValidationMessageFor(model => model.EventModel.Title)
                    </div>

                    <div class="form-group">
                        <input type="submit" id="btn" class="btn btn-outline-warning btn-rounded" value="Confirmer">
                    </div>
                </div>

            </fieldset>
        </div>

    }



</div>
@if (TempData["Success"] != null)
{
    <p class="alert alert-success" id="successMessage">@TempData["Success"]</p>
}
@section Scripts{

    <script src="@Url.Content("~/Content/mytemplate/")vendor/jquery/jquery.min.js"></script>

    <script type="text/javascript" src="@Url.Content("~/Content/mytemplate/")js/popper.min.js"></script>

    <!-- JS -->
    <script src="@Url.Content("~/Content/mytemplate/")vendor/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="@Url.Content("~/Content/mytemplate/")vendor/jquery-validation/dist/additional-methods.min.js"></script>
    <script src="@Url.Content("~/Content/mytemplate/")vendor/jquery-steps/jquery.steps.min.js"></script>
    <script src="@Url.Content("~/Content/mytemplate/")vendor/minimalist-picker/dobpicker.js"></script>
    <script src="@Url.Content("~/Content/mytemplate/")vendor/nouislider/nouislider.min.js"></script>
    <script src="@Url.Content("~/Content/mytemplate/")vendor/wnumb/wNumb.js"></script>
    <script src="@Url.Content("~/Content/mytemplate/")js.js"></script>
    <script src="@Url.Content("~/Content/mytemplate/")js/bootstrap.js"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/mytemplate/")js/mdb.min.js"></script>


    <script type="text/javascript" src="@Url.Content("~/Content/mytemplate/")js/modules/card-reveal.js"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/mytemplate/")js/modules/cards.js"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/mytemplate/")js/vendor/datatables/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/mytemplate/")js/vendor/datatables/js/dataTables.bootstrap4.min.js"></script>

}

<!--================ start footer Area  =================-->
<footer class="footer-area p_120">
    <div class="container" style="background-color:transparent">
        <div class="row">
            <div class="col-lg-3  col-md-6 col-sm-6">
                <div class="single-footer-widget tp_widgets">
                    <h6 class="footer_title">ABOUT US</h6>
                    <div>
                        <p style="color:white">
                            ConsultTeck is a specialized event agency which built its image on the success of your event within its human dimension or completely unreasonable.

                            We guide you in thinking, planning, organization and design of your projects, which are based on learning and the integration of the culture of your company. Our work is the result of a clever mixture of listening and strong creative and professional skills.
                            Fin de la discussion
                            Écrivez un message...


                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-1  col-md-6 col-sm-6">
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-footer-widget news_widgets">
                    <h6 class="footer_title">CONTACT INFORMATION</h6>
                    <p>To join us, or for simple information do not hesitate to contact us </p>
                    <div class="col-lg-6">
                        <div class="contact_info">
                            <div class="info_item">
                                <i class="lnr lnr-home"></i>
                                <h6>California, United States</h6>
                                <p>Santa monica bullevard</p>
                            </div>
                            <div class="info_item">
                                <i class="lnr lnr-phone-handset"></i>
                                <h6><a href="#">00 (440) 9865 562</a></h6>
                                <p>Mon to Fri 9am to 6 pm</p>
                            </div>
                            <div class="info_item">
                                <i class="lnr lnr-envelope"></i>
                                <h6><a href="#">support@colorlib.com</a></h6>
                                <p>Send us your query anytime!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 footer-social">
                <div class="single-footer-widget instafeed">
                    <h6 class="footer_title">FOLLOW US</h6>
                    <a href="#"><img src="~/img/fb.png" /></a>
                    <a href="#"><img src="~/img/twit.png" /></a>
                    <a href="#"><img src="~/img/insta.png" /></a>
                    <a href="#"><img src="~/img/link.png" /></a>
                </div>
            </div>
        </div>

    </div>
</footer>
<!--================ End footer Area  =================-->