
@model IEnumerable<Web.Models.EventViewModel>


@{
    ViewBag.Title = "Index";
}
<!--================Header Menu Area =================-->
<header class="header_area">
    <div class="main_menu">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container box_1620">
                <!-- Brand and toggle get grouped for better mobile display -->

                <img src="~/img/logo2.png" sizes="100px" alt="">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                    <ul class="nav navbar-nav menu_nav ml-auto">
                        <li class="nav-item active"><a class="nav-link" href="@Url.Action("Index","Home" , new { email = "smakhouloud@gmail.com", id = 1 } )">Home</a></li>

                        <li class="nav-item submenu dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Events</a>
                            <ul class="dropdown-menu">
                                <li class="nav-item"><a class="nav-link" href="@Url.Action("Index","Event")">All Events</a>
                                <li class="nav-item"><a class="nav-link" href="@Url.Action("MyEvent","Event")">My Event</a>
                                <li class="nav-item"><a class="nav-link" href="@Url.Action("MyCalendar","Event")">My Calendar</a>
                                <li class="nav-item">
                                    <a class="nav-link" href="@Url.Action("Create","Event")">Add Event</a>
                                <li class="nav-item"><a class="nav-link" href="@Url.Action("Create","Form")">Participate</a></li>
                            </ul>
                        </li>

                        <li class="nav-item submenu dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Blog</a>
                            <ul class="dropdown-menu">
                                <li class="nav-item"><a class="nav-link" href="@Url.Action("Index","Blog")">Blog</a></li>
                            </ul>
                        </li>

                        <li class="nav-item"><a class="nav-link" href="@Url.Action("Contact","Home")">Contact</a></li>
                        <li class="nav-item"><a class="nav-link" href="@Url.Action("About","Home")">About</a></li>

                    </ul>
                    <ul class="nav navbar-nav navbar-right">

                        @if (User.Identity.IsAuthenticated)
                        {

                            <li class="nav-item submenu dropdown">
                                <a href="@Url.Action("Login", "Account")" class="tickets_btn">Log Out</a>
                                
                            </li>
                        }
                        else
                        {
                            <li class="nav-item"> <a href="@Url.Action("Login", "Account")" class="tickets_btn">Log In</a></li>}

                        <li class="nav-item"><a href="#" class="search"><i class="lnr lnr-magnifier"></i></a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>
<!--================End Menu Area =================-->
<!--================Welcome Home Banner Area =================-->
<section class="banner_area">
    <div class="banner_inner d-flex align-items-center" style="background-image:url(../../img/banner/home-banner.jpg)">
        <div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background=""></div>
        <div class="container">
            <div class="banner_content text-center">
                <div class="page_link">
                    <a href="index.html">Home</a>
                    <a href="about-us.html">Events</a>
                </div>
                <br />
                <h2>The events that may interests you</h2>
            </div>
        </div>
    </div>
</section>
<!--================End Home Banner Area =================-->
<br />
<div class="col-lg-4" style="background-color:transparent;margin-left:1050px">
    <div class="blog_right_sidebar" style="background-color:transparent;border:thin">
        <aside class="single_sidebar_widget search_widget" style="background-color:transparent">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search" id="Search">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button"><i class="lnr lnr-magnifier"></i></button>
                </span>
            </div><!-- /input-group -->
            <div class="br"></div>
        </aside>
    </div>
</div>

@foreach (var item in Model)
{
    <!--================Welcome Area =================-->
    <div class="Search">
        <section class="welcome_area pad_btm">
            <div class="container">
                <div class="welcome_inner row">
                    <div class="col-lg-5" style="width:300%;">
                        <div class="categories_post">
                            <img src="~/Content/Upload/@Html.DisplayFor(modelItem => item.Photo)" alt="post" style="height:350px;width:450px">
                            <div class="categories_details">
                                <div class="categories_text">
                                    <a href="@Url.Action("Details", "Event", new {  id=item.EventId })"><h5>@Html.DisplayFor(modelItem => item.Type)</h5></a>
                                    <div class="border_line"></div>
                                    <p>@Html.DisplayFor(modelItem => item.Slogan)</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 offset-lg-1">
                        <div>

                            <div class="media-body">
                                <h2 style="color:black"> <span> @Html.DisplayFor(modelItem => item.Title)</span></h2>
                                <br />
                                <div class="media">
                                    <img src="~/img/icons/iconCalendar.png" style="height:30px;width:30px;">
                                    <p><strong>@Html.DisplayFor(modelItem => item.Start)</strong></p>
                                    <label style="color:white">Hello</label>
                                    <img src="~/img/icons/locationIcon.png" style="height:27px;width:30px;">
                                    <p><strong>@Html.DisplayFor(modelItem => item.Address)</strong></p>
                                </div>

                                <p>@Html.DisplayFor(modelItem => item.Description)</p>
                                <h6>Organized by: @Html.DisplayFor(modelItem => item.OrganizedBy)</h6>
                            </div>

                            @*<a class="main_btn" href="@Url.Action("Details", "Event", new {  id=item.EventId })">View More Details</a>*@


                            <a class="main_btn" href="@Url.Action("disliker", "Event", new {  id=item.EventId  })">dislike</a>

                            <a class="main_btn" href="@Url.Action("liker", "Event", new {  id=item.EventId  })">like</a>








                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!--================End Welcome Area =================-->


}

<!--================ start footer Area  =================-->
<footer class="footer-area p_120">
    <div class="container">
        <div class="row">
            <div class="col-lg-3  col-md-6 col-sm-6">
                <div class="single-footer-widget tp_widgets">
                    <h6 class="footer_title">ABOUT US</h6>
                    <div>
                        <p>
                            ConsultTeck is a specialized event agency which built its image on the success of your event within its human dimension or completely unreasonable.

                            We guide you in thinking, planning, organization and design of your projects, which are based on learning and the integration of the culture of your company. Our work is the result of a clever mixture of listening and strong creative and professional skills.
                            Fin de la discussion
                            Écrivez un message...


                        </p>
                    </div>
                </div>
            </div>
            @*<div class="col-lg-1  col-md-6 col-sm-6">
                </div>*@
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="single-footer-widget news_widgets">
                    <h6 class="footer_title">CONTACT INFORMATION</h6>
                    <p>To join us, or for simple information do not hesitate to contact us </p>
                    <div class="col-lg-6">
                        <div class="contact_info">
                            <div class="info_item">
                                <i class="lnr lnr-home"></i>
                                <h6>The Berges Du Lac II, Tunise</h6>
                                <p>Near the craftsman's palace</p>
                            </div>
                            <div class="info_item">
                                <i class="lnr lnr-phone-handset"></i>
                                <h6><a href="#">00 (216) 52017580</a></h6>
                                <p>Mon to Fri 9am to 6 pm</p>
                            </div>
                            <div class="info_item">
                                <i class="lnr lnr-envelope"></i>
                                <h6><a href="#">Consultteck@gmail.com</a></h6>
                                <p>Send us your query anytime!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 footer-social">
                <div class="single-footer-widget instafeed">
                    <h6 class="footer_title">FOLLOW US</h6>
                    <a href="#"><img src="~/img/fb.png" /></a>
                    <a href="#"><img src="~/img/twit.png" /></a>
                    <a href="#"><img src="~/img/insta.png" /></a>
                    <a href="#"><img src="~/img/link.png" /></a>
                </div>
            </div>
        </div>
        @*<div class="row footer-bottom d-flex justify-content-between align-items-center">
                <p class="col-lg-8 col-md-8 footer-text m-0">
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </p>
                <div class="col-lg-4 col-md-4 footer-social">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-dribbble"></i></a>
                    <a href="#"><i class="fa fa-behance"></i></a>
                </div>
            </div>*@
    </div>
</footer>
<!--================ End footer Area  =================-->




@section Scripts{
    <script src="~/Scripts/jquery-3.2.1.min.js"></script>
    <script>
        $(document).ready(function () {
            function Contains(text_one, text_two) {
                if (text_one.indexOf(text_two) != -1)
                    return true;
            }
            $("#Search").keyup(function () {
                var searchText = $("#Search").val().toLowerCase();
                console.log(searchText);
                $(".Search").each(function () {
                    if (!Contains($(this).text().toLowerCase(), searchText)) {
                        $(this).hide();

                    }
                    else {
                        $(this).show();
                    }
                });
            });

        });
    </script>
}
