
@model IEnumerable<Web.Models.EventViewModel>


@{
    ViewBag.Title = "Index";
}
<!--================Welcome Home Banner Area =================-->
<section class="banner_area">
    <div class="banner_inner d-flex align-items-center" style="background-image:url(../../img/banner/home-banner.jpg)">
        <div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background=""></div>
        <div class="container">
            <div class="banner_content text-center">
                <div class="page_link">
                    <a href="index.html">Home</a>
                    <a href="about-us.html">Events</a>
                </div>
                <br />
                <h2>The events that may interests you</h2>
            </div>
        </div>
    </div>
</section>
<!--================End Home Banner Area =================-->
<br />
<div class="col-lg-4" style="background-color:transparent;margin-left:1050px">
    <div class="blog_right_sidebar" style="background-color:transparent;border:thin">
        <aside class="single_sidebar_widget search_widget" style="background-color:transparent">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search" id="Search">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button"><i class="lnr lnr-magnifier"></i></button>
                </span>
            </div><!-- /input-group -->
            <div class="br"></div>
        </aside>
     </div>
</div>

@foreach (var item in Model)
{
    <!--================Welcome Area =================-->
<div class="Search">
    <section class="welcome_area pad_btm">
        <div class="container">
            <div class="welcome_inner row"  >
                <div class="col-lg-5" style="width:300%;">
                    <div class="categories_post">
                        <img src="~/Content/Upload/@Html.DisplayFor(modelItem => item.Photo)" alt="post" style="height:350px;width:450px"> 
                        <div class="categories_details">
                            <div class="categories_text">
                                <a href="@Url.Action("Details", "Event", new {  id=item.EventId })"><h5>@Html.DisplayFor(modelItem => item.Type)</h5></a>
                                <div class="border_line"></div>
                                <p>@Html.DisplayFor(modelItem => item.Slogan)</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 offset-lg-1">
                    <div>

                        <div class="media-body">
                            <h2 style="color:black"> <span> @Html.DisplayFor(modelItem => item.Title)</span></h2>
                            <br />
                            <div class="media">
                                <img src="~/img/icons/iconCalendar.png" style="height:30px;width:30px;">
                                <p><strong>@Html.DisplayFor(modelItem => item.Start)</strong></p>
                                <label style="color:white">Hello</label>
                                <img src="~/img/icons/locationIcon.png" style="height:27px;width:30px;">
                                <p><strong>@Html.DisplayFor(modelItem => item.Address)</strong></p>
                            </div>

                            <p>@Html.DisplayFor(modelItem => item.Description)</p>
                            <h6>Organized by: @Html.DisplayFor(modelItem => item.OrganizedBy)</h6>
                        </div>

                        <a class="main_btn" href="@Url.Action("Details", "Event", new {  id=item.EventId })">View More Details</a>
                        <a id="btn" class="main_btn" href="@Url.Action("Create", "Reward", new {  id=item.EventId })">Ajouter Rewards</a>

                        <a class="main_btn" href="@Url.Action("disliker", "Event", new {  id=item.EventId  })">dislike</a>

                        <a class="main_btn" href="@Url.Action("liker", "Event", new {  id=item.EventId  })">like</a>
                        <a class="main_btn" href="@Url.Action("statitique", "Event", new {  id=item.EventId  })">stat</a>







                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
    <!--================End Welcome Area =================-->


}
<script src="~/Scripts/jquery-3.2.1.min.js"></script>
<script>
    $(document).ready(function () {
        function Contains(text_one,text_two) {
            if (text_one.indexOf(text_two) != -1)
                return true;
        }
        $("#Search").keyup(function () {
            var searchText = $("#Search").val().toLowerCase();
            console.log(searchText);
            $(".Search").each(function () {
                if (!Contains($(this).text().toLowerCase(),searchText)) {
                    $(this).hide();

                }
                else {
                    $(this).show();
                }
            });
        });

    });
</script>

