@model IEnumerable<Web.Models.EventViewModel>

@{
    ViewBag.Title = "Index";
}
<!--================Welcome Home Banner Area =================-->
<section class="banner_area">
    <div class="banner_inner d-flex align-items-center" style="background-image:url(../../img/banner/home-banner.jpg)">
        <div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background=""></div>
        <div class="container">
            <div class="banner_content text-center">
                <div class="page_link">
                    <a href="index.html">Home</a>
                    <a href="about-us.html">Events</a>
                </div>
                <br />
                <h2>The events that may interests you</h2>
            </div>
        </div>
    </div>
</section>
<!--================End Home Banner Area =================-->
<br />

@foreach (var item in Model)
{


    <!--================Welcome Area =================-->
    <section class="welcome_area pad_btm">
        <div class="container">
            <div class="welcome_inner row">
                <div class="col-lg-4">
                    <div class="categories_post">
                        <img src="~/Content/Upload/@Html.DisplayFor(modelItem => item.Photo)" alt="post" style="height:350px;width:450px">
                        <div class="categories_details">
                            <div class="categories_text">
                                <a href="@Url.Action("DetailsMyEvent", "Event", new { id = item.EventId })">
                                    <h5>@Html.DisplayFor(modelItem => item.Type)</h5>
                                </a>
                                <div class="border_line"></div>
                                <p>@Html.DisplayFor(modelItem => item.Slogan)</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 offset-lg-1">
                    <div>
                        <br />
                        <br />
                        <div class="media-body">
                            <h2 style="color:black">
                                <span> @Html.DisplayFor(modelItem => item.Title)</span>
                            </h2>
                            <br />
                            <div class="media">
                                <img src="~/img/icons/iconCalendar.png" style="height:30px;width:30px;">
                                <p>
                                    <strong>@Html.DisplayFor(modelItem => item.Start)</strong>
                                </p>
                                <label style="color:white">Hello</label>
                                <img src="~/img/icons/locationIcon.png" style="height:27px;width:30px;">
                                <p>
                                    <strong>@Html.DisplayFor(modelItem => item.Address)</strong>
                                </p>
                            </div>

                            <p>@Html.DisplayFor(modelItem => item.Description)</p>
                            <h6>Organized by: @Html.DisplayFor(modelItem => item.OrganizedBy)</h6>

                            <div style="display:none">@Html.EditorFor(modelItem => item.EventId, new { htmlAttributes = new { @class = "form-control", @id = "eventId", @name = "eventId" } })</div>



                        </div>
                    </div>
                </div>
                <div class="blog_info text-sm-left">
                    <div class="post_tag">

                        <br />
                        <h4 style="color:darkred">Your Actions</h4>

                    </div>
                    <ul class="blog_meta list">

                        <li><img src="~/img/iconEdit.png" style="height:20px;width:20px" /><a href="@Url.Action("Edit", "Event", new { id = item.EventId })" class="genric-btn default-border circle arrow">Edit Event<span class="lnr lnr-arrow-right"></span></a></li>
                        <li><img src="~/img/iconOgranizer.png" style="height:20px;width:20px" /><a class="genric-btn default-border circle arrow" data-toggle="modal" data-target=".bootstrapmodal">Add Organizer<span class="lnr lnr-arrow-right"></span></a></li>
                        <li><img src="~/img/iconDelere.png" style="height:20px;width:20px" /><button class="genric-btn default-border circle arrow">@Html.ActionLink("Delete Event", "Delete", "Event", new { id = item.EventId }, new { onclick = "return confirm('Are sure wants to delete?');" })</button></li>
                    </ul>

                </div>

            </div>

        </div>
    </section>
    <!--================End Welcome Area =================-->
}

    <!--============================ Welcome Add Organizer ====================================-->
  


    <div class="modal fade bootstrapmodal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="model-header">
                    <button data-dismiss="modal" class="close"><span>&times;</span></button>
                    <div class="modal-title"><h2>Designates an Organizer</h2></div>
                </div>
                <div class="modal-body">


                    <div class="switch-wrap d-flex justify-content-between">
                        <input placeholder="Organizer Email" type="email" id="email" />
                        <select class="default-select" id="TaskId" name="TaskId">
                            <option>Select Task</option>
                            <option>Create Form</option>
                            <option>Create Ticketing System</option>
                            <option>Add Information</option>
                            <option>Fix Rewards</option>
                            <option>Satisfaction Survey</option>
                        </select>
                        <button class="btn sub-btn" OnClick="addition()">+</button>
                        <script>
                            function addition() {
                                var email = document.getElementById("email").value;
                                var taskId = document.getElementById("TaskId");
                                var task = taskId.options[taskId.selectedIndex].value;
                                var eventId = document.getElementById("eventId").value;
                                console.log(email);
                                console.log(taskId);
                                console.log(task);
                                console.log(eventId);
                                $('#tab tr:last').after("<tr><td>" + email + "</td><td> " + "  -  " + task + "</td>");
                                $.ajax({
                                    url: "/Tasks/AddTask",
                                    type: "POST",
                                    data: {
                                        'id': eventId, 'email': email, 'taskName': task
                                    }
                                });


                            }
                        </script>

                    </div>
                    <table id="tab">
                        <thead>
                            <tr>
                                <th scope="col">Organizer</th>

                                <th scope="col">Task</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr></tr>
                        </tbody>
                    </table>

                </div>
                <div class="modal-footer">


                    <button class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!--============================ End Add Organizer ====================================-->

   
<!--================End Welcome Area =================-->

