@model IEnumerable<Domain.Entities.Reward>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Event.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.titre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Event.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.titre)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.RewardId }) |
            @Html.ActionLink("Details", "Details", new { id=item.RewardId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.RewardId })
        </td>
    </tr>
}

</table>
