@model Web.Models.UserModel
<!--================Header Menu Area =================-->
<header class="header_area">
    <div class="main_menu">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container box_1620">
                <!-- Brand and toggle get grouped for better mobile display -->

                <a class="navbar-brand logo_h" href="index.html"><img src="~/img/logo2.png" sizes="100px" alt=""></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                    <ul class="nav navbar-nav menu_nav ml-auto">
                        <li class="nav-item active"><a class="nav-link" href="@Url.Action("Index","Home", new { email = Model.Email, id = Model.UserId })">Home</a></li>

                        <li class="nav-item submenu dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Events</a>
                            <ul class="dropdown-menu">
                                <li class="nav-item"><a class="nav-link" href="schedule.html">Conference</a>
                                <li class="nav-item"><a class="nav-link" href="venue.html">Party</a>
                                <li class="nav-item"><a class="nav-link" href="price.html">Exposure</a>
                                <li class="nav-item"><a class="nav-link" href="elements.html">Training</a></li>
                            </ul>
                        </li>

                        <li class="nav-item submenu dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Blog</a>
                            <ul class="dropdown-menu">
                                <li class="nav-item"><a class="nav-link" href="@Url.Action("Index","Blog")">Blog</a></li>
                            </ul>
                        </li>

                        <li class="nav-item"><a class="nav-link" href="@Url.Action("Contact","Home")">Contact</a></li>
                        <li class="nav-item"><a class="nav-link" href="@Url.Action("About","Home")">About</a></li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">

                        @if (User.Identity.IsAuthenticated)
                        {

                            <li class="nav-item submenu dropdown">
                                <a href="@Url.Action("Login", "Account")" class="tickets_btn">Log Out</a>
                                <ul>
                                    <li class="nav-item"><a class="nav-link" href="@Url.Action("Details","UserProfil",new { id = Model.UserId })">Show Profile</a></li>

                                </ul>
                            </li>

                            @*<li>@Html.DisplayFor(model => model.Email)</li>*@
                           @* <div>@Html.DisplayFor(model => model.Email)</div>*@
                        }
                        else
                        {
                            <li class="nav-item"> <a href="@Url.Action("Login", "Account")" class="tickets_btn">Log In</a></li>}

                        <li class="nav-item"><a href="#" class="search"><i class="lnr lnr-magnifier"></i></a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>
<!--================End Menu Area =================-->
<!--================Welcome Home Banner Area =================-->
<section class="home_banner_area" style="background-image:url(../../img/banner/home-banner.jpg)">
    <div class="banner_inner">
        <div class="container">

            <div class="banner_content">
                <h2>International Digital <br />Business Event</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore  et dolore magna aliqua.</p>
                <a class="banner_btn" href="#">View More Details</a>
            </div>
        </div>
    </div>
</section>
<!--================End Home Banner Area =================-->
<!--================Event Time Area =================-->
<section class="event_time_area">
    <div class="container">
        <div class="event_time_inner">
            <div class="row">
                <div class="col-lg-6">
                    <div class="event_text">
                        <h3>Next Event will Start in</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="timer_inner">
                        <div id="timer" class="timer">
                            <div class="timer__section days">
                                <div class="timer__number"></div>
                                <div class="timer__label">days</div>
                            </div>
                            <div class="timer__section hours">
                                <div class="timer__number"></div>
                                <div class="timer__label">hours</div>
                            </div>
                            <div class="timer__section minutes">
                                <div class="timer__number"></div>
                                <div class="timer__label">Minutes</div>
                            </div>
                            <div class="timer__section seconds">
                                <div class="timer__number"></div>
                                <div class="timer__label">seconds</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Event Time Area =================-->
<!--================Welcome Area =================-->
<section class="welcome_area pad_btm">
    <div class="container">
        <div class="welcome_inner row">
            <div class="col-lg-5">
                <div class="welcome_img">
                    <img class="img-fluid" src="~/img/welcome-1.jpg" alt="">

                </div>
            </div>
            <div class="col-lg-6 offset-lg-1">
                <div class="welcome_text">
                    <h3>Welcome to the world of events</h3>
                    <p>The <strong>ConsultTech</strong> is a specialized startup company which built its image on the success of your events within its human dimension or completely unreasonable</p>
                    <a class="main_btn" href="#">READ MORE</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Welcome Area =================-->
<!--================Team Area =================-->
<section class="team_area p_120">
    <div class="container">
        <div class="main_title">
            <h2>Meet Head Speakers</h2>
            <p>If you are looking at blank cassettes on the web, you may be very confused at the difference in price. You may see some for as low as $.17 each.</p>
        </div>
        <div class="row team_inner">
            <div class="col-lg-3 col-sm-6">
                <div class="team_item">
                    <div class="team_img">
                        <img class="img-fluid" src="~/img/team/team-1.jpg" alt="">
                        <div class="hover">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="team_name">
                        <h4>Ethel Davis</h4>
                        <p>Managing Director (Sales)</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="team_item">
                    <div class="team_img">
                        <img class="img-fluid" src="~/img/team/team-2.jpg" alt="">
                        <div class="hover">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="team_name">
                        <h4>Ethel Davis</h4>
                        <p>Managing Director (Sales)</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="team_item">
                    <div class="team_img">
                        <img class="img-fluid" src="~/img/team/team-3.jpg" alt="">
                        <div class="hover">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="team_name">
                        <h4>Ethel Davis</h4>
                        <p>Managing Director (Sales)</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="team_item">
                    <div class="team_img">
                        <img class="img-fluid" src="~/img/team/team-4.jpg" alt="">
                        <div class="hover">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="team_name">
                        <h4>Ethel Davis</h4>
                        <p>Managing Director (Sales)</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Team Area =================-->
<!--================ start footer Area  =================-->
<footer class="footer-area p_120">
    <div class="container">
        <div class="row">
            <div class="col-lg-3  col-md-6 col-sm-6">
                <div class="single-footer-widget tp_widgets">
                    <h6 class="footer_title">ABOUT US</h6>
                    <div>
                        <p>
                            ConsultTeck is a specialized event agency which built its image on the success of your event within its human dimension or completely unreasonable.

                            We guide you in thinking, planning, organization and design of your projects, which are based on learning and the integration of the culture of your company. Our work is the result of a clever mixture of listening and strong creative and professional skills.
                            Fin de la discussion
                            Écrivez un message...


                        </p>
                    </div>
                </div>
            </div>
            @*<div class="col-lg-1  col-md-6 col-sm-6">
                </div>*@
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="single-footer-widget news_widgets">
                    <h6 class="footer_title">CONTACT INFORMATION</h6>
                    <p>To join us, or for simple information do not hesitate to contact us </p>
                    <div class="col-lg-6">
                        <div class="contact_info">
                            <div class="info_item">
                                <i class="lnr lnr-home"></i>
                                <h6>The Berges Du Lac II, Tunise</h6>
                                <p>Near the craftsman's palace</p>
                            </div>
                            <div class="info_item">
                                <i class="lnr lnr-phone-handset"></i>
                                <h6><a href="#">00 (216) 52017580</a></h6>
                                <p>Mon to Fri 9am to 6 pm</p>
                            </div>
                            <div class="info_item">
                                <i class="lnr lnr-envelope"></i>
                                <h6><a href="#">Consultteck@colorlib.com</a></h6>
                                <p>Send us your query anytime!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 footer-social">
                <div class="single-footer-widget instafeed">
                    <h6 class="footer_title">FOLLOW US</h6>
                    <a href="#"><img src="~/img/fb.png" /></a>
                    <a href="#"><img src="~/img/twit.png" /></a>
                    <a href="#"><img src="~/img/insta.png" /></a>
                    <a href="#"><img src="~/img/link.png" /></a>
                </div>
            </div>
        </div>
        @*<div class="row footer-bottom d-flex justify-content-between align-items-center">
                <p class="col-lg-8 col-md-8 footer-text m-0">
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </p>
                <div class="col-lg-4 col-md-4 footer-social">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-dribbble"></i></a>
                    <a href="#"><i class="fa fa-behance"></i></a>
                </div>
            </div>*@
    </div>
</footer>
<!--================ End footer Area  =================-->
